@media only screen and (min-width: 60em) {
	header img {
		width: 175px;
	}

	.heading h2 {
		font-size: 3rem;
		text-align: center;
		margin: 0 0 0 675px;
	}

	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	.table1 {
		left: 38%;
		width: 700px;
	}

	.table2 {
		top: 55%;
		left: 42%;
		width: 600px;
	}

	.button1, .button2, .button3 {
		width: 625px;
	}
}