@media only screen and (min-width: 32.5em) {
	header img {
		width: 175px;
	}

	.heading h2 {
		font-size: 3rem;
		text-align: center;
		margin: 0 0 0 200px;
	}

	.table1 {
		left: 24%;
		width: 600px;
	}

	.table2 {
		left: 32%;
	}

	.button1, .button2, .button3 {
		width: 350px;
	}

}